.equipped-weapon {
  margin: 10px;
  border: 3px solid $border-color;
  border-radius: 3px;
  background-color: $background-color;
  color: white;
  padding: 5px;
  width: 350px;

  h1 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
  }
}
